.hero {
    min-height: 50vh;
    background: linear-gradient(135deg, #3a30ea, #a03aff, #0ea5e9);
    background-size: 200% 200%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul{
    list-style-type: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    height: 320px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.card:hover{
    transform: scale(1.03) rotate(2deg);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

footer{
    background-color: #000000;
    padding: 25px;
    margin: 0;
}

nav{
    background-color: #000000;
    border: none !important;
    padding: 2 !important;
    margin: 0 !important;
}

h2 {
    color: #ffffff;
    text-shadow:
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 15px rgba(255, 255, 255, 0.7);
}